<h2 class="h4-style text-justify">
  <%= t('.title') %>:
</h2>

<br>
<h2 class="h4-style">
	<%= t('pstn_tables.index.title_primary') %>:
</h2>
<ul>
	<h2 class="h4-style">
    <%= link_to "#{t('pstn_tables.index.navbar')} - #{t('pstn_tables.index.title')}", pstn_tables_path %>
	</h2>
</ul>
<br>
<h2 class="h4-style">
  <%= t('plmn_mnc.index.title_primary') %>:
</h2>
<ul>
	<h2 class="h4-style">
    <%= link_to "#{t('plmn_tables.index.navbar')} - #{t('plmn_tables.index.title')}", plmn_tables_path %>
	</h2>
</ul>
<ul>
	<h2 class="h4-style">
    <%= link_to "#{t('m2m_tables.index.navbar')} - #{t('m2m_tables.index.title')}", m2m_tables_path %>
	</h2>
</ul>
<ul>
	<h2 class="h4-style">
    <%= link_to "#{t('mnc_tables.index.navbar')} - #{t('mnc_tables.index.title')}", mnc_tables_path %>
	</h2>
</ul>
<br>
<h2 class="h4-style">
  <%= t('ndsi_tables.index.title_primary') %>:
</h2>
<ul>
	<h2 class="h4-style">
    <%= link_to "#{t('ndsi_tables.index.navbar')} - #{t('ndsi_tables.index.title')}", ndsi_tables_path %>
	</h2>
</ul>
<br>
<h2 class="h4-style">
  <%= t('aus_tables.index.title_primary') %>:
</h2>
<ul>
	<h2 class="h4-style">
    <%= link_to "#{t('aus_tables.index.navbar')} - #{t('aus_tables.index.title')}", aus_tables_path %>
	</h2>
</ul>
<br>
<h2 class="h4-style">
  <%= t('hesc_tables.index.title_primary') %>:
</h2>
<ul>
	<h2 class="h4-style">
    <%= link_to "#{t('hesc_tables.index.navbar')} - #{t('hesc_tables.index.title')}", hesc_tables_path %>
	</h2>
</ul>
<br>
<h2 class="h4-style">
  <%= t('ndin_tables.index.title_primary') %>:
</h2>

<ul>
	<h2 class="h4-style">
    <%= link_to "#{t('ndin_tables.index.navbar')} - #{t('ndin_tables.index.title')}", ndin_tables_path %>
	</h2>
</ul>
<br>
<h2 class="h4-style">
  <%= t('nds_ispc_nspc.index.title_primary') %>:
</h2>

<ul>
	<h2 class="h4-style">
    <%= link_to "#{t('nds_tables.index.navbar')} - #{t('nds_tables.index.title')}", nds_tables_path %>
	</h2>
</ul>
<ul>
	<h2 class="h4-style">
    <%= link_to "#{t('ispc_tables.index.navbar')} - #{t('ispc_tables.index.title')}", ispc_tables_path %>
	</h2>
</ul>
<ul>
	<h2 class="h4-style">
    <%= link_to "#{t('nspc_tables.index.navbar')} - #{t('nspc_tables.index.title')}", nspc_tables_path %>
	</h2>
</ul>
<br>
<h2 class="h4-style">
  <%= t('voip_tables.index.title_primary') %>:
</h2>
<ul>
	<h2 class="h4-style">
    <%= link_to "#{t('voip_tables.index.navbar')} - #{t('voip_tables.index.title')}", voip_tables_path %>
	</h2>
</ul>
<br>
<h2 class="h4-style">
  <%= t('nrnp_tables.index.title_primary') %>:
</h2>
<ul>
	<h2 class="h4-style">
    <%= link_to "#{t('nrnp_tables.index.navbar')} - #{t('nrnp_tables.index.title')}", nrnp_tables_path %>
	</h2>
</ul>

<br>
<h2 class="h4-style">
	<%= link_to(t('prm_link.index.title'), t('prm_link.index.url')) %>
</h2>
<h2 class="h4-style">
  <%= link_to "#{t('orvc_tables.index.title')}", orvc_tables_path %>
</h2>
<h2 class="h4-style">
	<%= link_to(t('ab_link.index.title'), t('ab_link.index.url')) %>
</h2>
<br>
