<h4 class="text-justify">Zbiorcze zestawienia numeracji przydzielonej przedsiębiorcom telekomunikacyjnym, zgodnie z Planem numeracji krajowej dla publicznych sieci telefonicznych.
</h4>
<br>
<h4>
Stacjonarne publiczne sieci telefoniczne:
</h4>
<ul>
	<h4>
	    <%= link_to "TZN PSTN - Tablica Zagospodarowania Numeracji abonenckiej dla stacjonarnej publicznej sieci telekomunikacyjnej PSTN (dla każdej z 49 stref numeracyjnych)", pstn_tables_path %>
	</h4>
</ul>
<br>
<h4>
Ruchome (komórkowe) publiczne sieci telefoniczne:
</h4>
<ul>
	<h4>
	     <%= link_to "TZN PLMN - Tablica Zagospodarowania Numeracji abonenckiej dla ruchomej publicznej sieci telekomunikacyjnej PLMN", plmn_tables_path %>
	</h4>
</ul>
<ul>
	<h4>
	     <%= link_to "TZN MNC - Tablica Zagospodarowania kodów sieci ruchomej MNC", mnc_tables_path %>
	</h4>
</ul>
<br>
<h4>
Sieci teleinformatyczne (Internet):
</h4>
<ul>
	<h4>
	     <%= link_to "TZN NDSI - Tablica Zagospodarowania Numeracji dostępu do sieci teleinformatycznych NDSI", ndsi_tables_path %>
	</h4>
</ul>
<br>
<h4>
Numery abonenckich usług specjalnych (AUS):
</h4>
<ul>
	<h4>
	     <%= link_to "TZN AUS - Tablica Zagospodarowania Numeracji abonenckich usług specjalnych AUS (5D)", aus_tables_path %>
	</h4>
</ul>
<br>
<h4>
Numeracja abonenckich usług specjalnych oraz zharmonizowanych usług o walorze społecznym
</h4>
<ul>
	<h4>
	     <%= link_to "TZN HESC - Tablice numeracji HESC z zakresu 116 i 118", hesc_tables_path %>
	</h4>
</ul>
<br>
<h4>
Sieci inteligentne (70, 80):
</h4>

<ul>
	<h4>
	     <%= link_to "TZN NDIN - Tablica Zagospodarowania Numeracji dostępu do usług sieci inteligentnych IN", ndin_tables_path %>
	</h4>
</ul>
<br>
<h4>
Sieci operatorów usług międzystrefowych i międzynarodowych oraz połączeń z sieci stacjonarnej do sieci komórkowej:
</h4>

<ul>
	<h4>
	     <%= link_to "TZN NDS - Tablica Zagospodarowania Numeracji dostępu do sieci NDS", nds_tables_path %>
	</h4>
</ul>
<ul>
	<h4>
	     <%= link_to "TZN ISPC - Tablica Zagospodarowania Numeracji Międzynarodowych Punktów Sygnalizacyjnych ISPC", ispc_tables_path %>
	</h4>
</ul>
<ul>
	<h4>
	     <%= link_to "TZN NSPC - Tablica Zagospodarowania Numeracji Krajowych Punktów Sygnalizacyjnych NSPC", nspc_tables_path %>
	</h4>
</ul>
<br>
<h4>
Usługi wykorzystujące technologię IP:
</h4>
<ul>
	<h4>
	    <%= link_to "TZN VoIP - Tablica Zagospodarowania Numeracji niegeograficznej (o wyróżniku sieci WST AB=39) dla świadczenia usług telefonii wykorzystującej pakietową transmisję danych w technologii IP (VoIP)", voip_tables_path %>
	</h4>
</ul>
<br>
<h4>
Numery rutingowe:
</h4>
<ul>
	<h4>
	     <%= link_to "TZN NR NP - Tablica Zagospodarowania numerów rutingowych NR NP", nrnp_tables_path %>
	</h4>
</ul>
<br>
<h4>
Rejestr numerów wykorzystywanych do świadczenia usługi o podwyższonej opłacie:
</h4>
<ul>
	<h4>
	     Wykaz numerów usług o podwyższonej opłacie.
	</h4>
</ul>