<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="center"><span class="index-title hidden-xs"><%= t '.title_primary' %></span></h3>
      <h4 class="center">
        <span class="index-title hidden-xs"><%= t '.title' %></span>
        <span class="index-title visible-xs"><%= t '.navbar' %></span>
      </h4>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->
</div> <!--/container -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <table id="ndin_tables-datatable" class="hover cell-border" cellspacing="0" width="100%", 
        data-source="<%= ndin_tables_path(format: :json) %>", 
        data-locale_url="<%= datatables_lang_path(format: :json) %>", 
        data-export_csv_url="<%= export_ndin_tables_path(format: :csv) %>",
        data-export_xml_url="<%= export_ndin_tables_path(format: :xml) %>">
        <thead>
          <tr>
            <th>id</th>
            <th><%= NdinTable.human_attribute_name(:scope) %></th>
            <th><%= NdinTable.human_attribute_name(:operator) %></th>
            <th><%= NdinTable.human_attribute_name(:operator_name) %></th>
            <th><%= NdinTable.human_attribute_name(:service_type_name) %></th>
            <th><%= NdinTable.human_attribute_name(:modification) %></th>
          </tr>
        </thead>

        <tfoot style='display: none;'>
          <tr>
            <th></th> <!-- 0 id -->
            <th> <!-- 1 scope -->
              <%= text_field_tag :col1filter, params[:col1filter], id: 'col1filter', 'data-column' => "1", 
                    class: 'column_filter form-control input-sm', style: "width: 85%;" %>
            </th>
            <th> <!-- 2 operator -->
              <%= text_field_tag :col2filter, params[:col2filter], id: 'col2filter', 'data-column' => "2", 
                    class: 'column_filter form-control input-sm', style: "width: 85%;" %>
            </th>
            <th> <!-- 3 operator_name -->
              <%= text_field_tag :col3filter, params[:col3filter], id: 'col3filter', 'data-column' => "3", 
                    class: 'column_filter form-control input-sm', style: "width: 85%;" %>
            </th>
            <th> <!-- 4 service_type_name -->
              <%= text_field_tag :col4filter, params[:col4filter], id: 'col4filter', 'data-column' => "4", 
                    class: 'column_filter form-control input-sm', style: "width: 85%;" %>
            </th>
            <th></th>
          </tr>
        </tfoot>

        <tbody>
           <!--data from JSON -->
        </tbody>
      </table>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

</div> <!--/container -->

