<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-sm-12">
      <table id="voip_tables-datatable" class="hover cell-border" cellspacing="0" width="100%", 
        data-source="<%= voip_tables_path(format: :json) %>", 
        data-locale_url="<%= datatables_lang_path(format: :json) %>", 
        data-export_csv_url="<%= export_voip_tables_path(format: :csv) %>",
        data-export_xml_url="<%= export_voip_tables_path(format: :xml) %>">
        <caption style="caption-side: top;">
          <h1 class="h4-style center">
            <span class="index-title hidden-xs"><%= t '.title_primary' %></span><br>
            <span class="h5-style index-title hidden-xs"><%= t '.title' %></span>
            <span class="h5-style index-title visible-xs"><%= t '.navbar' %></span>
          </h1>
        </caption>
        <thead>
          <tr>
            <th>id</th>
            <th><%= VoipTable.human_attribute_name(:scope) %></th>
            <th><%= VoipTable.human_attribute_name(:provider_id) %></th>
            <th><%= VoipTable.human_attribute_name(:provider_name) %></th>
            <th><%= VoipTable.human_attribute_name(:modification) %></th>
          </tr>
        </thead>

        <tfoot style='display: none;'>
          <tr>
            <th></th> <!-- 0 id -->
            <th> <!-- 1 scope -->
              <%= text_field_tag :col1filter, params[:col1filter], id: 'col1filter', 'data-column' => "1", 
                    class: 'column_filter form-control input-sm', style: "width: 85%;" %>
            </th>
            <th> <!-- 2 provider_id -->
              <%= text_field_tag :col2filter, params[:col2filter], id: 'col2filter', 'data-column' => "2", 
                    class: 'column_filter form-control input-sm', style: "width: 85%;" %>
            </th>
            <th> <!-- 3 provider_name -->
              <%= text_field_tag :col3filter, params[:col3filter], id: 'col3filter', 'data-column' => "3", 
                    class: 'column_filter form-control input-sm', style: "width: 85%;" %>
            </th>
            <th></th>
          </tr>
        </tfoot>

        <tbody>
           <!--data from JSON -->
        </tbody>
      </table>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

</div> <!--/container -->

