<footer class="footer">
  <div class="row">
    <div class='col-sm-6'>
      <p class="h4-style"><%= t('.brand') %></p>
      <p class="h4-style"><%= t('.brand_address_1') %></p>
      <p class="h4-style"><%= t('.brand_address_2') %></p>
      <br>
      <p class="h5-style"><%= t('.brand_note') %></p>
      <hr class="visible-xs">
    </div>

    <div class='col-sm-3'>
      <p class="h5-style"><%= t('.contact') %></p>
        <ul><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;<%= mail_to t('.contact_mail') %></ul>
        <ul><span class="fa fa-phone"></span>&nbsp;&nbsp;<%= link_to t('.contact_phone'), "tel:#{t('.contact_phone')}" %></ul>
        <ul><span class="fa fa-fax"></span>&nbsp;&nbsp;<%= link_to t('.contact_fax'), "tel:#{t('.contact_fax')}" %></ul>
      <hr class="visible-xs">
    </div>

    <div class="col-sm-3">
      <p class="h5-style"><%= t('.links') %></p>
        <ul><span class="fa fa-info-circle"></span>&nbsp;&nbsp;
          <%= link_to static_pages_declaration_path do %>
            <%= t("static_pages.declaration.navbar") %>
          <% end %>
        </ul>
        <ul><span class="fa fa-globe"></span>&nbsp;&nbsp;<%= link_to('UKE', 'http://uke.gov.pl') %></ul>
        <ul><span class="fa fa-globe"></span>&nbsp;&nbsp;<%= link_to('Facebook', 'https://web.facebook.com/UrzadKomunikacjiElektronicznej') %></ul>
        <ul><span class="fa fa-globe"></span>&nbsp;&nbsp;<%= link_to('Twitter', 'https://twitter.com/uke2uke') %></ul>
        <ul><span class="fa fa-globe"></span>&nbsp;&nbsp;<%= link_to('Numeracja', 'http://bip.uke.gov.pl/numeracja') %></ul>
      <hr class="visible-xs">

      <p class="h6-style pull-right"><small>&copy; 2019 UKE</small></p>

    </div>
  </div>  <!-- /row -->

</footer>
