<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="navbar-brand hidden-xs" style="margin-top: 15px; max-width: 400px;display: inline-block;">
        <%= link_to( image_tag( t('logo_file'), alt: 'Logo', :class => "img img-responsive" ), root_path ) %>
      </div>
      <div class="navbar-brand visible-xs" style="max-width: 260px;display: inline-block;">
        <%= link_to( image_tag( t('logo_file'), alt: 'Logo', :class => "img img-responsive" ), root_path ) %>
      </div>

    </div>

    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <nav>
<!-- 
        <ul class="nav navbar-nav navbar-left">
          <%#= render 'layouts/navigation_left_links' %>
        </ul>
 -->
        <ul class="nav navbar-nav navbar-right">
<!-- 
          <%= render partial: 'layouts/navigation_right_links' %>

-->




<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-list"></span>&nbsp;<%=t "layouts.header.menu.data" %> <span class="caret"></span></a>

  <ul class="dropdown-menu">

    <li><%= link_to t("pstn_tables.index.navbar"), pstn_tables_path %></li>
    <li><%= link_to t("plmn_tables.index.navbar"), plmn_tables_path %></li>
    <li><%= link_to t("mnc_tables.index.navbar"), mnc_tables_path %></li>
    <li><%= link_to t("ndsi_tables.index.navbar"), ndsi_tables_path %></li>
    <li><%= link_to t("aus_tables.index.navbar"), aus_tables_path %></li>
    <li><%= link_to t("hesc_tables.index.navbar"), hesc_tables_path %></li>
    <li><%= link_to t("ndin_tables.index.navbar"), ndin_tables_path %></li>
    <li><%= link_to t("nds_tables.index.navbar"), nds_tables_path %></li>
    <li><%= link_to t("ispc_tables.index.navbar"), ispc_tables_path %></li>
    <li><%= link_to t("nspc_tables.index.navbar"), nspc_tables_path %></li>
    <li><%= link_to t("voip_tables.index.navbar"), voip_tables_path %></li>
    <li><%= link_to t("nrnp_tables.index.navbar"), nrnp_tables_path %></li>

  </ul>
</li>

<% unless "#{locale}" == "en" %>
  <li>
    <%= link_to image_tag('en.png', alt: 'EN', class: "img img-thumbnail", width: 28), { locale: :en } %>
  </li>
<% end %>
<% unless "#{locale}" == "pl" %>
  <li>
    <%= link_to image_tag('pl.png', alt: 'PL', class: "img img-thumbnail", width: 28), { locale: :pl } %>
  </li>
<% end %>


        </ul>

      </nav>
    </div>

    <hr class="hr-without-all-margin">

  </div>
</header>
